extends ../layouts/default

block pageHeader
  .page-header
    h1 All Tickets
  ul.nav.nav-tabs
    li.active
      a All
    li
      a In Processing
    li
      a Completed
    li
      a Abandoned

block content
  .panel.panel-default
    .panel-heading
      .row
        .col-md-1 status
        .col-md-2 id
        .col-md-5 title
        .col-md-1 category
        .col-md-2.text-right updated at
        .col-md-1=" "

    .list-group
      each ticket in tickets
        a.list-group-item(href="/tickets/#{ticket.id}")
          .row
            .col-md-1
              !=helper.genLabelByStatus(ticket.status)
            .col-md-2
              small
                code=ticket.id
            .col-md-5=ticket.title
            .col-md-1=ticket.category
            .col-md-2.text-right
              !=helper.genDateTag(ticket.updated_at)
            .col-md-1.text-right
              i.fa.fa-chevron-right












