extends ../layouts/default

block pageHeader
  .page-header
    h1 Tickets
  ul.nav.nav-tabs
    li.active
      a All
    li
      a In Processing
    li
      a Completed
    li
      a Abandoned

block content
  .panel.panel-default
    .panel-heading
      .row
        .col-md-1 status
        .col-md-2 id
        .col-md-5 title
        .col-md-1 category
        .col-md-1.text-right created
        .col-md-1.text-right updated
        .col-md-1 Attempts

    #list.list-group
      each ticket in tickets
        a.list-group-item(href="/tickets/#{ticket.id}")
          .row
            .col-md-1
              !=helper.genLabelByStatus(ticket.status)
            .col-md-2
              small
                code=ticket.id
            .col-md-5=ticket.title
            .col-md-1=ticket.category
            .col-md-1.text-right
              !=helper.genDateTag(ticket.created_at)
            .col-md-1.text-right
              !=helper.genDateTag(ticket.updated_at)
            .col-md-1=ticket.attempts


  script(src='/js/jquery.endless-scroll.js?#{VERSION}', type='text/javascript')
  script(src='/js/jquery.mongoose-endless-scroll.js?#{VERSION}', type='text/javascript')
  script(type='text/javascript').
    if(jQuery){
      $(window).mongooseEndlessScroll({
        pagesToKeep: 5,
        loader:"<h1>LOADING...</h1>",
        insertBefore: "#list",
        insertAfter: "#list",
        intervalFrequency: 500
      });
    }











